<h1><%= @project.name %></h1>
<%= image_tag(@project.cover_image_url, alt: "#{@project.name} image", class: "card-img-top") %>
<p><%= @project.description %>
<!-- add more text, images, mybe a link? -->
